.App {
  text-align: center;
}

.App-logo {
  
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

.box {
  border: 1px solid #a32e2e;
  border-bottom-width: 0;
  border-radius: 20px;
  box-shadow: 1px 10px 20px #000000;
  margin-bottom: 25px;
  max-width: 600px;
  width: 80%;
  padding: 0 8px;
  background-color: #786f3f;
}
.box:hover {
  box-shadow: 15px 9px 15px black;
}

.resourceList {
  box-shadow: 1px 10px 20px #000000;
  margin: 0 8%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.header {
  display: flex;
  padding-left: 2rem;
  margin-bottom: 1.5rem;
  background-color: #ffee7d
}

.title {
  font-size: 3rem;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  text-shadow: 1px 8px 16px black;
  color: black;
}
